.menu  {
 background-image: url(../images/background_menu.svg);
  background-size: contain;       
  background-position: center;  
  background-repeat: no-repeat; 
  padding: 40px; 
  background-color: #fff;
  
  
}

.menu__cards{
  padding: 0;
  margin: 100px 100px ;
  display: flex;
  gap:100px;
justify-content: center;
flex-wrap: wrap;
list-style-type: none;
}

.menu__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 1300px;
  gap: 24px;
  text-align: center;
  margin: 100px;
  padding: 60px;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 1500px;
  gap: 24px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}